<section class="customer__section">
<div class="customer__block">
<h2 class="customer__header">What our Customers Say</h2>
<p class="customer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<ul class="customer__list">
<li class="customer__item">
<div class="customer__mark-div">
<ul class="customer__mark-list">
<ul class="customer__mark-list">
    <li class="customer__mark-item"><svg class="customer_mark-svg">
            <use href="./images/icons.svg#icon-star"></use>
        </svg>
    </li>
    <li class="customer__mark-item"><svg class="customer_mark-svg">
            <use href="./images/icons.svg#icon-star"></use>
        </svg>
    </li>
    <li class="customer__mark-item"><svg class="customer_mark-svg">
            <use href="./images/icons.svg#icon-star"></use>
        </svg>
    </li>
    <li class="customer__mark-item"><svg class="customer_mark-svg">
            <use href="./images/icons.svg#icon-star"></use>
        </svg>
    </li>
    <li class="customer__mark-item"><svg class="customer_mark-svg">
            <use href="./images/icons.svg#icon-star"></use>
        </svg>
    </li>
</ul>
</div>
<b>
<p class="customer__review">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind,
No questions asked”</p>
</b>
<div class="customer__information">
<div class="customer__picture customer__picture--first"></div>
<div>
<h3 class="customer__name">Sumith Shah</h3>
<p class="customer__position">Some Dude</p>
</div>
</div>
</li>
<li class="customer__item">
<div class="customer__mark-div">
    <ul class="customer__mark-list">
        <li class="customer__mark-item"><svg class="customer_mark-svg">
                <use href="./images/icons.svg#icon-star"></use>
            </svg>
        </li>
        <li class="customer__mark-item"><svg class="customer_mark-svg">
                <use href="./images/icons.svg#icon-star"></use>
            </svg>
        </li>
        <li class="customer__mark-item"><svg class="customer_mark-svg">
                <use href="./images/icons.svg#icon-star"></use>
            </svg>
        </li>
        <li class="customer__mark-item"><svg class="customer_mark-svg">
                <use href="./images/icons.svg#icon-star"></use>
            </svg>
        </li>
        <li class="customer__mark-item"><svg class="customer_mark-svg">
                    <use href="./images/icons.svg#icon-star"></use>
                </svg>
        </li>
    </ul>
</div>
<b>
<p class="customer__review">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering
from this app”</p>
</b>
<div class="customer__information">
<div class="customer__picture customer__picture--second"></div>
<div>
<h3 class="customer__name">Sumith Shah</h3>
<p class="customer__position">Some Dude</p>
</div>
</div>
</li>
</ul>
</div>
</section>