<section class="customer__section">
<div class="customer-block">
<h2 class="customer__header">What our Customers Say</h2>
<ul class="customer__list list">
<li class="customer__item">
<p class="customer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p class="customer_review">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind,
No questions asked”</p>
<h3 class="customer__name">Sumith Shah</h3>
<p class="customer__position">Some Dude</p>
</li>
<li class="customer__item">
<p class="customer_review">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering
from this app”</p>
<h3 class="customer__name">Sumith Shah</h3>
<p class="customer__position">Some Dude</p>
</li>
</ul>
</div>
</section>