<section class="favorites">
    <div class="favorites__container">
        <h2 class="favorites__title">Some of Our Favorites</h2>
        <p class="favorites__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites__list">
            <li class="favorites__item">
                <div class="favorites__box">
                    <picture>
                        <!-- desktop -->
                        <source media="(min-width: 1280px)"
                            srcset="./images/favorites/favorites-img-1@1x_lg.jpg 1x, ./images/favorites/favorites-img-1@2x_lg.jpg 2x"
                            type="image/jpg">
                        <!-- tablet -->
                        <source media="(min-width: 768px)"
                            srcset="./images/favorites/favorites-img-1@1x_md.jpg 1x, ./images/favorites/favorites-img-1@2x_md.jpg 2x"
                            type="image/jpg">
                        <!-- mobil -->
                        <source media="(max-width: 767px)"
                            srcset="./images/favorites/favorites-img-1@1x_sm.jpg 1x, ./images/favorites/favorites-img-1@2x_sm.jpg 2x"
                            type="image/jpg">
                        <img src="./images/favorites/favorites-img-1@1x_sm.jpg" alt="foto food" width="336">
                    </picture>
                </div>
            </li>
            <li class="favorites__item">
                <div class="favorites__box">
                    <picture>
                        <!-- desktop -->
                        <source media="(min-width: 1280px)"
                            srcset="./images/favorites/favorites-img-2@1x_lg.jpg 1x, ./images/favorites/favorites-img-2@2x_lg.jpg 2x"
                            type="image/jpg">
                        <!-- tablet -->
                        <source media="(min-width: 768px)"
                            srcset="./images/favorites/favorites-img-2@1x_md.jpg 1x, ./images/favorites/favorites-img-2@2x_md.jpg 2x"
                            type="image/jpg">
                        <!-- mobil -->
                        <source media="(max-width: 767px)"
                            srcset="./images/favorites/favorites-img-2@1x_sm.jpg 1x, ./images/favorites/favorites-img-2@2x_sm.jpg 2x"
                            type="image/jpg">
                        <img src="./images/favorites/favorites-img-2@1x_sm.jpg" alt="foto food" width="336">
                    </picture>
                </div>
            </li>
            <li class="favorites__item">
                <div class="favorites__box">
                    <picture>
                        <!-- desktop -->
                        <source media="(min-width: 1280px)"
                            srcset="./images/favorites/favorites-img-3@1x_lg.jpg 1x, ./images/favorites/favorites-img-3@2x_lg.jpg 2x"
                            type="image/jpg">
                        <!-- tablet -->
                        <source media="(min-width: 768px)"
                            srcset="./images/favorites/favorites-img-3@1x_md.jpg 1x, ./images/favorites/favorites-img-3@2x_md.jpg 2x"
                            type="image/jpg">
                        <!-- mobil -->
                        <source media="(max-width: 767px)"
                            srcset="./images/favorites/favorites-img-3@1x_sm.jpg 1x, ./images/favorites/favorites-img-3@2x_sm.jpg 2x"
                            type="image/jpg">
                        <img src="./images/favorites/favorites-img-3@1x_sm.jpg" alt="foto food" width="336">
                    </picture>
                </div>
            </li>
            <li class="favorites__item">
                <div class="favorites__box fav-item">
                    <picture>
                        <!-- desktop -->
                        <source media="(min-width: 1280px)"
                            srcset="./images/favorites/favorites-img-4@1x_lg.jpg 1x, ./images/favorites/favorites-img-4@2x_lg.jpg 2x"
                            type="image/jpg">
                        <!-- tablet -->
                        <source media="(min-width: 768px)"
                            srcset="./images/favorites/favorites-img-4@1x_md.jpg 1x, ./images/favorites/favorites-img-4@2x_md.jpg 2x"
                            type="image/jpg">
                        <img src="./images/favorites/favorites-img-4@1x_md.jpg" alt="foto food" width="336">
                    </picture>
                </div>

            </li>
            <li class="favorites__item">
                <div class="favorites__box fav-item">
                    <picture>
                        <!-- desktop -->
                        <source media="(min-width: 1280px)"
                            srcset="./images/favorites/favorites-img-5@1x_lg.jpg 1x, ./images/favorites/favorites-img-5@2x_lg.jpg 2x"
                            type="image/jpg">
                        <!-- tablet -->
                        <source media="(min-width: 768px)"
                            srcset="./images/favorites/favorites-img-5@1x_md.jpg 1x, ./images/favorites/favorites-img-5@2x_md.jpg 2x"
                            type="image/jpg">
                        <img src="./images/favorites/favorites-img-5@1x_md.jpg" alt="foto food" width="336">
                    </picture>
                </div>

            </li>
            <li class="favorites__item">
                <div class="favorites__box fav-item">
                    <picture>
                        <!-- desktop -->
                        <source media="(min-width: 1280px)"
                            srcset="./images/favorites/favorites-img-6@1x_lg.jpg 1x, ./images/favorites/favorites-img-6@2x_lg.jpg 2x"
                            type="image/jpg">
                        <!-- tablet -->
                        <source media="(min-width: 768px)"
                            srcset="./images/favorites/favorites-img-6@1x_md.jpg 1x, ./images/favorites/favorites-img-6@2x_md.jpg 2x"
                            type="image/jpg">
                        <img src="./images/favorites/favorites-img-6@1x_md.jpg" alt="foto food" width="336">
                    </picture>
                </div>

            </li>
        </ul>
    </div>

</section>