<header class="header">
  <div class="header__container">
    <a href="./index.html" class="header__logo">
      <svg width="66" height="52">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button
      class="header__mobile-menu js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="28" height="28">
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <div class="header__right-side">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#header" class="nav__link nav__link--current">Home</a>
          </li>
          <li class="nav__item">
            <a href="#favorite" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="#offerings" class="nav__link">Service</a>
          </li>
          <li class="nav__item">
            <a href="#favorites" class="nav__link">Menu</a>
          </li>
          <li class="nav__item">
            <a href="#subscribe" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="header__btn btn" type="button">Order Now</button>
    </div>
  </div>
</header>
