<section class="hero">
  <div class="hero__container">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button type="button">Order Now</button>
    <!-- <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            srcset="
              ./images/hero/w/foto-1-292.jpg   292w,
              ./images/hero/w/foto-1-528.jpg   528w,
              ./images/hero/w/foto-1-584.jpg   584w,
              ./images/hero/w/foto-1-1056.jpg 1056w
            "
            sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px,(min-width: 320px) 0,  100vw"
            src="./images/hero/w/foto-1-528.jpg"
            alt="котлеты, ветчина, соус"
          />
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              ./images/hero/w/foto-2-292.jpg   292w,
              ./images/hero/w/foto-2-528.jpg   528w,
              ./images/hero/w/foto-2-584.jpg   584w,
              ./images/hero/w/foto-2-1056.jpg 1056w
            "
            sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px,(min-width: 320px) 0,  100vw"
            src="./images/hero/w/foto-2-528.jpg"
            alt="салат Цезарь"
          />
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              ./images/hero/w/foto-3-292.jpg   292w,
              ./images/hero/w/foto-3-528.jpg   528w,
              ./images/hero/w/foto-3-584.jpg   584w,
              ./images/hero/w/foto-3-1056.jpg 1056w
            "
            sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px,(min-width: 320px) 0,  100vw"
            src="./images/hero/w/foto-3-528.jpg"
            alt="овощи гриль, яичница, авокадо, хлеб"
          />
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div> -->
  </div>
</section>
