<section class="offerings">
    <div class="offerings__container">
        <div class="offerings__left-side"></div>
        <div class="offerings__right-side">
            <h2 class="">What’s Special About Our Offerings</h2>

            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
            cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
            
            <ul class="">
                <li class="">
                <h3>Fasest Delivery</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                </li>
                
                <li class="">
                <h3>Easy To Order</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
        </ul>
        
        <button class="btn" type="button">Order Now</button>

        <a>
            <svg class="" width="32" height="32">
            <use href="./images/icons.svg#icon-touch"></use>
            </svg>
        </a>
        </div> 
    </div>
</section>