<section class="section__subscribe" id="#subscribe">
  <img
    class="subscribe__img"
    src="./images/subscribe/subscribe-img@1x_lg.png"

sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, 100vw"
    
    alt="banana"
  />
  <h2 class="tittle__subscribe">Subscribe To Get Special Offers</h2>
  <p class="discription__subscribe">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros <br>elementum tristique.
  </p>
  <form class="subscribe__form">
    <input
      class="form__input subscribe--input"
      type="email"
      name="subscribe-email"
      id="subscribe-email"
      placeholder="Enter your email"
      autocomplete="off"
      required
    />
    <span class="form__error">
      <svg class="error__icon" width="12" height="12">
                  <use href="./images/icons.svg#icon-Framesvg"></use>
                </svg>
      Not a valid email address (example@email.com)</span>
    <button class="subscribe__button btn" type="submit">Subscribe</button>
  </form>
  
 
</section>
