<section class="section__subscribe">
  <img class="subscribe__img" src="./images/subscribe/subscribe-img@1x_lg.png " alt="banana">
    <H2 class="tittle__subscribe">
        Subscribe To Get Special Offers
    </H2>
<p class="discription__subscribe">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
    <form class="subscribe__form">
          <input
            class="subscribe__input"
            type="email"
            name="subscribe-email"
            id="subscribe-email"
            placeholder="E-mail"
            autocomplete="off"
          />
          <button class="subscribe__button btn" type="submit">
            Subscribe
            
          </button>
        </form>
</section>