.form__input {
    height: 42px;
    padding: 12px;

    @include font(18, 12);

    border: 0.854167px solid $second-accent-clr;
    border-radius: 30px;
    background-color: #ffffff;
    outline: none;

}

.form__input:not(:placeholder-shown):required:valid {
    border-color: $btn-border;
}

.form__input:not(:placeholder-shown):required:invalid {
    border-color: #FF705D;
}

.form__error {
    color: #FF705D;
    text-align: left;
    font-size: 12px;
    margin-top: 1px;
    display: none;
    
}

.form__input:invalid:not(:placeholder-shown)+.form__error {
    display: block;
}