.form__input {
  height: 42px;
  padding: 12px;

  @include font(18, 12);

  border: 0.854167px solid $second-accent-clr;
  border-radius: 30px;
  background-color: #ffffff;
  outline: none;
}

.form__input:not(:placeholder-shown):required:valid {
  border-color: $btn-border;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.form__input:not(:placeholder-shown):required:invalid {
  border-color: #ff705d;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__error {
  color: #ff705d;
  text-align: left;
  font-size: 12px;
  margin-top: 1px;
  display: none;
  position: absolute;
  @media screen and (min-width: 768px) {
    position: absolute;
  }
}

.form__input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}
