.nav__list {
  @extend %reset-list;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 28px;
  }
}
.nav__link {
  @extend %reset-link;
  font-family: $main-font;
  @include font(16, 14);

  color: $txt-clr;
  &--current {
    text-decoration: underline;
    color: $accent-clr;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
    color: $accent-clr;
  }
}
