.nav__list {
  @extend %reset-list;
  display: flex;
  gap: 28px;
}
.nav__link {
  @extend %reset-link;
  font-family: $main-font;
  @include font(16, 14);

  color: $txt-clr;
  &--current {
    font-weight: 700;
    text-decoration: underline;
    color: $accent-clr;
  }
  &:hover,
  &:focus {
    font-weight: 700;
    text-decoration: underline;
    color: $accent-clr;
  }
}
