.customer__section {
margin-left: 20px;
margin-right: 20px;
}
.customer__block {
@extend %container;
width: 320px;
background-image: url("../images/customers/customers-bg-img@1x_320.jpg");
background-repeat: no-repeat;
padding-top: 60px;
padding-bottom: 62px;
}
.customer__header {
margin-bottom: 20px;
color: rgba(44, 44, 44, 1);
font-style: bold;
font-size: 28px;
line-height: 1.17;
text-align: left;
vertical-align: top;
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.customer__text {
margin: 0;
margin-bottom: 32px;
font-style: regular;
font-size: 14px;
line-height: 1.14;
text-align: left;
vertical-align: top;
color: rgba(44, 44, 44, 1);
}
.customer__list {
padding: 0;
margin: 0;
}
.customer__review {
margin-bottom: 40px;
font-style: bold;
font-size: 16px;
line-height: 1.18;
text-align: left;
vertical-align: top;
color: rgba(44, 44, 44, 1);
}
.customer__item {
list-style-type: none;
display: block;
height: 247px;
background-color: #FFFFFF;
border-radius: 0px 20px 20px 20px;
padding-left: 8px;
padding-right: 8px;
padding-top: 8px;
padding-bottom: 0;
}
.customer__item:not(:last-child) {
margin-bottom: 24px;
border: 1px solid rgba(0, 0, 0, 1);
}
.customer__information {
margin: 0;
padding: 0;
width: 160px;
height: 52px;
display: flex;
border-right: 1px solid rgba(126, 177, 1, 1);
padding-top: 6.35px;
}
.customer__mark-list {
width: 100px;
height: 16px;
margin-bottom: 28px;
display: inline-flex;
padding: 0;
}
.customer__mark-div {
    display: flex;
    align-items: left;
    margin: 0;
    padding: 0;
}
.customer__mark-item {
    padding: 0;
    list-style-type: none;
}
.customer__mark-link {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: 50% 50%;
}
.customer_mark-svg {
    width: 17px;
    height: 16px;
}
.customer__picture {
width: 48px;
height: 48px;
border-radius: 50%;
overflow: hidden;
border: 2px solid yellow;
margin-right: 16px;
}
.customer__picture--first {
background-image: url("../images/customers/customers-img-1@1x.jpg");
}
.customer__picture--second {
background-image: url("../images/customers/customers-img-2@1x.jpg");
}
.customer__name {
font-style: semi-bold;
font-size: 13.67px;
line-height: 1.47;
text-align: left;
vertical-align: top;
color: rgba(44, 44, 44, 1);
}
.customer__position {
font-style: regular;
font-size: 13.67px;
line-height: 1.47;
text-align: left;
vertical-align: top;
color: rgba(44, 44, 44, 1);
margin: 0;
}
