.favorites {
    @media screen and (max-width:767) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.favorites__container {
    @extend %container;
}

.favorites__title {
    @media screen and (max-width:767) {
        font-family: $main-font;
        font-weight: 700;
        font-size: 28px;
        line-height: calc(33/28);
        text-align: center;
        color: #2C2C2C;
    }
}

.favorites__text {
    @media screen and (max-width:767) {
        font-family: $main-font;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(16/14);
        text-align: center;
        color: #2C2C2C;
    }
}

.favorites__list {
    @extend %reset-list;
    padding: 29px;

    @media screen and (max-width:767) {
        display: block;
    }
}

.favorites__item {

    // border: 14px solid #FFE550;
    // border-radius: 50%;
}

.favorites__item .fav-item {
    display: block;

    @media screen and (max-width:767) {
        display: none;
    }
}

.favorits-img {
    border: 14px solid #FFE550;
    border-radius: 50%;
}