.favorites {
    @media screen and (max-width:767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.favorites__container {
    @extend %container;

    @media screen and (max-width:767px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.favorites__title {
    @media screen and (max-width:767px) {
        font-family: $main-font;
        font-weight: 700;
        font-size: 28px;
        line-height: calc(33/28);
        text-align: center;
        color: #2C2C2C;
    }
}

.favorites__text {
    @media screen and (max-width:767px) {
        font-family: $main-font;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(16/14);
        text-align: center;
        color: #2C2C2C;
    }
}

.favorites__list {
    @extend %reset-list;
    padding: 29px;

    @media screen and (max-width:767px) {
        display: block;

    }
}

.favorites__item {
    display: block;

}

.favorites-box {
    @media screen and (max-width:767px) {
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 280px;
        height: 282px;
        border: 11px solid #ffe550;
        border-radius: 50%;
    }

    &:hover,
    &:focus {
        border-color: #BBF330;
    }

}

.fav-item {
    display: block;

    @media screen and (max-width:767px) {
        display: none;
    }
}