.hero {
  padding-top: 60px;
  @media screen and (min-width: 1280px) {
    padding-top: 159px;
  }
}

.hero__container {
  @extend %container;
  display: flex;
}
.hero__slider {
  margin-left: auto;
}
.hero__title {
  margin-bottom: 28px;

  @include font(33, 28);

  color: $txt-clr;

  @media screen and (min-width: 768px) {
    margin-bottom: 44px;

    @include font(50, 42);
  }
  @media screen and (min-width: 1280px) {
    max-width: 502px;
    margin-bottom: 28px;

    @include font(58, 48);
  }
}

.hero__text {
  margin-bottom: 28px;
  @include font(21, 14);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;

    @include font(24, 16);
  }
  @media screen and (min-width: 1280px) {
    max-width: 502px;
  }
}

.hero__btn {
  min-width: 98px;
  height: 32px;

  border-color: transparent;
  background-color: $accent-clr;

  &:hover,
  &:focus {
    background-color: #b5ff00;
  }
}
