.hero {
    
    @media screen and (max-width: 1279px) {
        padding-top: 60px;
    }
        
}

.hero__container {
    @extend %container;

    @media screen and (min-width: 768px) {
        display: flex;
        min-width: 0;
    }
}


.hero__title {
        font-weight: 700;
        font-size: 28px;
        line-height:calc(33 / 28);

        color: $txt-clr;
        
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            width: 537px;
            font-size: 42px;
            line-height: calc(50 / 42);
            
        }
        @media screen and (min-width: 1280px) {
            width: 503px;

            font-size: 48px;   
            
        
        }
}

.hero__text {
    margin-top: 28px;
    margin-bottom: 28px;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(21 / 14);

    @media screen and (min-width: 768px) {
        margin-top: 44px;
        margin-bottom: 40px;
        width: 336px;

        font-size: 16px;
        line-height: calc(21 / 14);
    }
        @media screen and (min-width: 1280px) {
            margin-top: 28px;
            width: 502px;
        }
}

.btn--header {
    width: 98px;
    height: 32px;

    border-color: transparent;
    background-color: $accent-clr;

    &:hover,
    &:focus {
        background-color: #B5FF00;
    }
}

.hero__left-wrap {
    @media screen and (min-width: 1280px) {
        margin-top: 159px;
    }

}




.swiper__img {
    @media screen and (max-width: 767px) {
        display: none;
    }

    border: 14px solid $second-accent-clr;
    border-radius: 50%;

    &:hover,
    &:focus {
        border-color: $accent-clr;
    }

}

