.offerings {
    padding-top: 60px;
    padding-bottom: 60px;

    background-image: url(../images/offerings/offerings-bg-img@1x_sm.jpg);
    background-color: $second-accent-clr;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

    min-width: 320px;
    min-height: 100%;
    
    
}

.offerings__container {
    @extend %container;
}

// apples

.offerings__aside {}

.border {
    width: 280px;
    height: 280px;
    border-radius: 50%;

    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 60px;

}

.canvas {
    width: 255px;
    height: 255px;
    border-radius: 50%;
    background-color: white;

    display: flex;
    justify-content: center;   
}

.img {
    display: block;
    align-self: flex-end;
}
// content
.offerings__content {
    .content-offerings {}
}

.content-offerings__heading {
    font-size: 28px;
    @include font(33px, 28px);
    color: $txt-clr;

    margin-bottom: 28px;
    max-width: 280px;
}

.content-offerings__text {
    font-size: 14px;
    @include font(16px, 14px);
    color: $txt-clr;

    margin-bottom: 28px;
    
}

.content-offerings__list {
    @extend %reset-list;
    
    margin-bottom: 28px;
    
}
// list

// .list-content-offerings {}

.list-content-offerings__item {
    color: $txt-clr;

    &:not(:last-child) {
        margin-bottom: 28px;
    }

    &::before {
        content: '';
        display: block;

        width: 48px;
        height: 48px;
        border-radius: 50%;

        margin-bottom: 8px;

    }

    &:nth-child(1)::before {
        content: '';
        background: url(../images/offerings/icon-rocket.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
    }

        &:nth-child(2)::before {
            content: '';
            background: url(../images/offerings/icon-touch.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: white;
        }
}

.list-content-offerings__subtitle {
    font-size: 18px;
    @include font(21px, 18px);

    margin-bottom: 16px;
}

.list-content-offerings__text {
    font-size: 14px;
    @include font(16px, 14px);
}

// btns

.content-offerings__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn--offerings {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 22px;
    padding-left: 22px;

    margin-right: 24px;

    background-color: white;
    border: 2px solid $btn-border;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus { 
        border: 2px solid #597D00;
    }
}

.content-offerings__link {
    @extend %reset-link;
    display: block;
    font-size: 14px;
    @include font(20px, 14px);

    display: flex;
    align-items: center;
    gap: 3px;
}

// .link-offerings {}

.link-offerings__text {}

.link-offerings__icon {}