.offerings {
    padding-top: 50px;
    padding-bottom: 60px;

    background-image: url(../images/offerings/offerings-bg-xs.svg);
    
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-width: 320px;
    height: 100%;

    @media screen and (min-width: 480px) {
            background-image: url(../images/offerings/offerings-bg-s.svg);
        }
    
    @media screen and (min-width: 768px) {
            padding-top: 147px;
            padding-bottom: 103px;
            
            background-image: url(../images/offerings/offerings-bg-m.svg);
            min-width: 768px;

        }
}

.offerings__container {
    @extend %container;
}

// apples

.offerings__aside {
    @media screen and (max-width: 767px) {
            margin: 0 auto;
            margin-bottom: 40px;
        }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            margin-bottom: 60px;
        }
}

.aside-offerings__canvas:nth-child(1) {
    display: block;
    
    width: 280px;
    height: 309px;

    background-image: url(../images/offerings/offerings-img@1x_sm.png), radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%), url(../images/offerings/offerings-ellipse-s.svg), url(../images/offerings/offerings-border-s.svg);
    background-repeat: no-repeat;
    background-size: 201px 255px, 128px 44px, 255px 255px, 280px 280px;
    background-position: right 50% top -13px, right 50% bottom 18%, center, center;

    @media screen and (max-width: 767px) {
            margin: 0 auto;
        }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 704px;
        height: 394px;

        background-image: url(../images/offerings/offerings-img-1@1x_md.png), 
        radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%), 
        url(../images/offerings/offerings-ellipse-m.svg), 
        url(../images/offerings/offerings-border-m.svg),
        url(../images/offerings/offerings-img-2@1x_md.png),
        url(../images/offerings/offerings-img-3@1x_md.png);
        
            background-repeat: no-repeat;
            background-size: 257px 326px, 163px 56px, 326px 326px, 357px 357px, 166px 210px, 108px 136px;
            background-position: 54px 0, 100px 290px, 15px 52px, 0 37px, 386px 116px, 596px 190px;
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/offerings/offerings-img-1@2x_md.png), 
                radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%), 
                url(../images/offerings/offerings-ellipse-m.svg), 
                url(../images/offerings/offerings-border-m.svg),
                url(../images/offerings/offerings-img-2@2x_md.png),
                url(../images/offerings/offerings-img-3@2x_md.png);
        
                
            }
        }
}

// content
.offerings__content {
    .content-offerings {}
}

.content-offerings__heading {
    @include font(33px, 28px);
    color: $txt-clr;

    margin-bottom: 28px;
    max-width: 280px;

    @media screen and (min-width: 768px) {
        @include font(49px, 42px);
        margin-bottom: 20px;
        max-width: 526px;
            
        }
}

.content-offerings__text {
    @include font(16px, 14px);
    color: $txt-clr;

    margin-bottom: 28px;

    @media screen and (min-width: 768px) {
            @include font(19px, 16px);
            max-width: 500px;

            margin-bottom: 40px;
        }
    
}

.content-offerings__list {
    @extend %reset-list;
    
    margin-bottom: 28px;

    @media screen and (min-width: 768px) {
            margin-bottom: 40px;

            display: flex;
            gap: 116px;
        }
    
}
// list

// .list-content-offerings {}

.list-content-offerings__item {
    color: $txt-clr;

    @media screen and (max-width: 767px) {
            &:not(:last-child) {
                    margin-bottom: 28px;
                }
        }

    &::before {
        content: '';
        display: block;

        width: 48px;
        height: 48px;
        border-radius: 50%;

        margin-bottom: 8px;

    }

    &:nth-child(1)::before {
        content: '';
        background: url(../images/offerings/icon-rocket.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
    }

        &:nth-child(2)::before {
            content: '';
            background: url(../images/offerings/icon-touch.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: white;
        }
}

.list-content-offerings__subtitle {
    @include font(21px, 18px);

    margin-bottom: 16px;
}

.list-content-offerings__text {
    @include font(16px, 14px);
}

// btns

.content-offerings__buttons {
    display: flex;
    align-items: center;
}

.btn--offerings {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 22px;
    padding-left: 22px;

    margin-right: 24px;

    background-color: white;
    border: 2px solid $btn-border;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus { 
        border: 2px solid #597D00;
    }
}

.content-offerings__link {
    @extend %reset-link;
    display: block;
    @include font(20px, 14px);

    display: flex;
    align-items: center;
    gap: 3px;
}

// .link-offerings {}

.link-offerings__text {}

.link-offerings__icon {}