.section__subscribe {
  padding-top: 44px;
  padding-bottom: 60px;
  @media screen and (min-width: 480px) {
    padding-top: 52px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 82px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 0;
  }
}

.subscribe__container {
  position: relative;
  @extend %container;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.subscribe__banana {
  position: absolute;
  top: -85px;
  display: block;
  width: 280px;
  @media screen and (min-width: 480px) {
    top: -136px;
  }
  @media screen and (min-width: 768px) {
    top: -136px;
    right: 0;
    min-width: 281px;
    min-height: 136px;
  }
  @media screen and (min-width: 1280px) {
    width: 608px;
    height: 266px;
    top: -66px;
    right: 0;
  }
}

.subscribe__tittle {
  width: 280px;

  @include font(34, 28);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 656px;
    @include font(50, 42);
  }

  @media screen and (min-width: 1280px) {
    margin-top: 0;
  }
}
.subscribe__discription {
  width: 280px;

  @include font(16, 14);
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 656px;
    @include font(24, 16);
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
  }
}
.subscribe__form {
  position: relative;
}
.subscribe-input {
  width: 279px;

  @media screen and (min-width: 768px) {
    width: 395px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
}
.subscribe__error {
  @media screen and (min-width: 768px) {
    position: absolute;
  }
}

.subscribe__button {
  min-width: 103px;
  height: 42px;
  border: none;

  @include font(20, 13);
  background-color: $accent-clr;
  display: block;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 0px;

  @media screen and (min-width: 768px) {
    display: inline;
    margin-left: 22px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 32px;
  }
  &:focus,
  &:hover {
    background-color: #b5ff00;
  }
}
